<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="section-title">What we stand for</h2>
    <div class="cards">
      <div class="card card--advantages card--noise">
        <h3 class="advantages__card-title">People <br />and possabilities</h3>
        <p class="card-desc">
          Solving the problem <br />of economic inequality.
        </p>
        <img
          width="294"
          height="280"
          src="/assets/images/analytics.png"
          alt="analytics"
        />
      </div>
      <div class="card card--advantages card--noise">
        <h3 class="advantages__card-title">Supporting communities</h3>
        <p class="card-desc">We support <br />low-income people.</p>
        <img
          width="363"
          height="257"
          src="/assets/images/cart.png"
          alt="cart"
        />
      </div>
      <div class="card card--advantages card--noise">
        <h3 class="advantages__card-title advantages__card-title--dark-blue">
          Preserving <br />out planet
        </h3>
        <p class="card-desc card-desc--third">
          We look forward <br />to a greener future.
        </p>
        <img
          width="276"
          height="341"
          src="/assets/images/security.png"
          alt="security"
        />
      </div>
    </div>
  </div>
</section>
