<section class="blog">
  <div class="container">
    <h2 class="section-title section-title--border-bottom">Our blog</h2>
    <div class="cards cards--blog cards--padding cards--border-bottom">
      <div class="card card--padding-reset">
        <h2 class="section-title section-title--fs-normal">
          The benefits of your card
        </h2>
      </div>
      <div class="card card--padding-reset">
        <p class="text-desc-top text-desc-top--width-reset">
          Welcome to the World of Exclusivity with Visa.
        </p>
        <a href="/" class="text-desc-link">Learn more</a>
      </div>
      <div class="card card--gradient card--padding-reset">
        <img
          width="410"
          height="410"
          src="/assets/images/credit-cart.jpg"
          alt="credit-cart"
        />
      </div>
    </div>
    <div
      class="cards cards--blog cards--padding cards--border-bottom"
      id="about-us"
    >
      <div class="card card--padding-reset card--height-auto">
        <h2 class="section-title section-title--fs-normal">
          Fintech fast track program
        </h2>
      </div>
      <div class="card card--padding-reset">
        <p class="text-desc-top text-desc-top--width-reset">
          Get up and running quickly with Visa.
        </p>
        <a href="/" class="text-desc-link">Learn more</a>
      </div>
      <div class="card card--gradient card--padding-reset">
        <img
          width="410"
          height="410"
          src="/assets/images/people.jpg"
          alt="people"
        />
      </div>
    </div>
    <div
      class="cards cards--blog cards--padding cards--border"
      id="for-business"
    >
      <div class="card card--padding-reset">
        <h2 class="section-title section-title--fs-normal">
          Small business support platform
        </h2>
      </div>
      <div class="card card--padding-reset">
        <p class="text-desc-top text-desc-top--width-reset">
          Visa Partner is your expert guide to payments.
        </p>
        <a href="/" class="text-desc-link">Learn more</a>
      </div>
      <div class="card card--gradient card--padding-reset">
        <img
          width="410"
          height="410"
          src="/assets/images/business-support.jpg"
          alt="business-support"
        />
      </div>
    </div>
  </div>
</section>
