<section class="faq" id="our-vision">
  <div class="container">
    <div class="cards cards--grid-two-columns">
      <h2 class="section-title section-title--fs-normal">
        Frequently asked questions
      </h2>
      <ul class="faq__tabs">
        <li class="faq__tab">
          <p>How do you take care of the planet?</p>
          <span><img src="/assets/images/svg/plus.svg" alt="plus" /></span>
        </li>
        <li class="faq__tab">
          <p>What should I do if I have lost my card?</p>
          <span><img src="/assets/images/svg/plus.svg" alt="plus" /></span>
        </li>
        <li class="faq__tab">
          <p>What are the benefits of a Visa card?</p>
          <span><img src="/assets/images/svg/plus.svg" alt="plus" /></span>
        </li>
        <li class="faq__tab">
          <p>How do you help low-income people?</p>
          <span><img src="/assets/images/svg/plus.svg" alt="plus" /></span>
        </li>
        <li class="faq__tab">
          <p>Are our cards safe?</p>
          <span><img src="/assets/images/svg/plus.svg" alt="plus" /></span>
        </li>
      </ul>
    </div>
  </div>
</section>
