<footer class="footer">
  <div class="container">
    <div class="footer__items">
      <div class="footer__item">
        <img
          width="109"
          height="35"
          src="/assets/images/logotype.png"
          alt="logo"
        />
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">About us</h3>
        <ul class="footer__text-items">
          <li class="text-desc-top"><a href="/">Corporate responsibilty</a></li>
          <li class="text-desc-top"><a href="/">Cultural diversity</a></li>
          <li class="text-desc-top"><a href="/">Social impact</a></li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">Information</h3>
        <ul class="footer__text-items">
          <li class="text-desc-top">
            <a href="/">People and possabilities</a>
          </li>
          <li class="text-desc-top"><a href="/">Supporting communities</a></li>
          <li class="text-desc-top"><a href="/">Preserving our planet</a></li>
          <li class="text-desc-top"><a href="/">Visa partner</a></li>
          <li class="text-desc-top"><a href="/">Our vision</a></li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">Cards</h3>
        <ul class="footer__text-items">
          <li class="text-desc-top"><a href="/">Visa Classic</a></li>
          <li class="text-desc-top"><a href="/">Visa Gold</a></li>
          <li class="text-desc-top"><a href="/">Visa Platinum</a></li>
          <li class="text-desc-top"><a href="/">Visa Signature</a></li>
          <li class="text-desc-top"><a href="/">Visa Infinite</a></li>
        </ul>
      </div>
      <div class="footer__item footer__item--select">
        <img
          width="26"
          height="26"
          src="/assets/images/svg/united-states.svg"
          alt="united-states"
        />
        <p>United States</p>
        <img
          width="12"
          height="12"
          src="/assets/images/svg/arrow.svg"
          alt="arrow"
        />
      </div>
      <div class="footer__item footer__item--social">
        <a href="/"
          ><img
            width="40"
            height="40"
            src="/assets/images/svg/linkedin.svg"
            alt="linkedin" /></a
        ><a href="/"
          ><img
            width="40"
            height="40"
            src="/assets/images/svg/twitter.svg"
            alt="twitter" /></a
        ><a href="/"
          ><img
            width="40"
            height="40"
            src="/assets/images/svg/instagram.svg"
            alt="instagram" /></a
        ><a href="/"
          ><img
            width="40"
            height="40"
            src="/assets/images/svg/facebook.svg"
            alt="facebook"
        /></a>
      </div>
    </div>
  </div>
</footer>
