<div class="hero">
  <div class="hero__top">
    <header class="header">
      <div class="container">
        <div class="header__items">
          <div class="logo">
            <a href="/">
              <img
                width="80"
                height="38"
                src="/assets/images/logo.png"
                alt="visa"
            /></a>
          </div>
          <div class="mobile-menu">
            <button class="burger">
              <span></span>
              <span></span>
            </button>
            <ul class="menu-list">
              <li class="menu-item"><a href="#advantages">Cards</a></li>
              <li class="menu-item">
                <a href="#for-business">For business</a>
              </li>
              <li class="menu-item"><a href="#about-us">About us</a></li>
              <li class="menu-item"><a href="#our-vision">Our vision</a></li>
            </ul>
          </div>
          <div class="search">
            <img
              width="20"
              height="20"
              src="/assets/images/svg/search.svg"
              alt="search"
            />
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="hero__middle">
    <div class="container">
      <div class="hero__text">
        <h1 class="hero__text-title">
          NETWORK THAT SOLVE GLOBAL PROBLEMS — <span>VISA</span>
        </h1>

        <div class="text-desc">
          <p class="text-desc-top">
            We help you make transfers <br />around the world and are at the
            forefront of payment technology.
          </p>
          <a href="/" class="text-desc-link">Learn more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__bottom">
    <div class="container">
      <div class="hero__banner">
        <img src="/assets/images/bg.jpg" alt="visa-picture" class="hero__img" />
      </div>
    </div>
  </div>
</div>
